<div>
    <p> Olá, Jabutividade! </p>
    <form #criarTarefaForm="ngForm" (ngSubmit)="onSubmit()">
        <label for="nome">Nome:</label>
        <input type="text" id="tarefa" name="tarefa" [(ngModel)]="tarefa" required>
        <input type="text" id="idUsuario" name="idUsuario" [(ngModel)]="idUsuario" required>
        <!-- <input type="checkbox" id="completa" name="completa" [(ngModel)]="completa" required> -->
        <button type="submit">Cadastrar</button> 
    </form>
</div>

<p *ngIf="mensagem"> {{mensagem}} </p>

  <!-- Tabela de Tarefas -->
<div>
  <table style="border-collapse: collapse;">
      <tr *ngFor="let tarefa of tarefas" class="{{tarefa.completa ? 'tarefaCompletaClasse' : ''}}">
        <td>{{ tarefa.descricaoTarefa }}</td>
        <td> <input type="checkbox" id="completar" name="completar" [checked]="tarefa.completa" (change)="completarTarefa(tarefa.idTarefa, tarefa.completa)"> </td>
        <td> <button (click)="deletarTarefa(tarefa.idTarefa)"> X </button></td>
      </tr>
  </table>
</div>