<div>
    <p> Olá, Jabutividade! </p>
    <form (ngSubmit)="onSubmit()">
        <label for="nome">Nome:</label>
        <input type="text" id="tarefa" name="tarefa" [(ngModel)]="tarefa" required>
        <input type="text" id="idUsuario" name="idUsuario" [(ngModel)]="idUsuario" required>
        <!-- <input type="checkbox" id="completa" name="completa" [(ngModel)]="completa" required> -->
        <button type="submit">Dizer Olá</button> 
    </form>
</div>

<p *ngIf="mensagem"> {{mensagem}} </p>

  <!-- Tabela de Tarefas -->
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Usuário</th>
        <th>Completa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td>{{ tarefa.idTarefa }}</td>
        <td>{{ tarefa.descricaoTarefa }}</td>
        <td>{{ tarefa.idUsuario }}</td>
        <td>{{ tarefa.completa ? 'Sim' : 'Não' }}</td>
      </tr>
    </tbody>
  </table>
</div>