
<div class="row mb-4 h-4">
    <h1 class="col-3 ms-5 mt-3"> Jabutividade </h1>
    <b class="col-1 mb-3 mt-4 ps-0 pe-0 pt-1 form-link text-center rounded-pill" (click)="logout()"> Logout </b>
    <div class="col-5"></div>
    <div class="col-custom mb-3 mt-4 ps-3 pe-3 pt-1 form-link d-flex justify-content-around rounded-pill overflow-hidden" (click)="paginaUsuario()"> 
        <b class="col-auto"> Usuário </b>
        <img class="col-auto" src="assets/images/base_pfp.png" class="pfp"> 
    </div>
</div>
