<div id="tarefas" class="col-6 container mx-auto text-center borderTarefas pb-3">
    <div class="row">
        <form #FormCriarTarefa="ngForm" (ngSubmit)="onSubmit()" class="p-0 col-12">
            <div class="form-group">
                <input type="text" id="txt_descricaoTarefaCriacao" name="txt_descricaoTarefaCriacao" placeholder="Tarefa" [(ngModel)]="descricaoTarefaCriacao" class="inputTarefa input-form form-control" required>
            </div>
            <input type="hidden" name="idUsuario" [value]="IDUSUARIO" required>
            <button type="submit" class="rounded-4 col-1 m-2 btn btn-dark botao_custom"> <b> + </b> </button> 
        </form>
    </div>

    <div *ngIf="mensagensErro.length > 0" class="error-messages">
        <div *ngFor="let errorMessage of mensagensErro">{{ errorMessage }}</div>
      </div>

    <div *ngFor="let tarefa of listaTarefasExibicao">
        <div class="row align-items-center m-2 form-link text-center rounded-pill" style="color: #171a11 !important;" [ngClass]="{'tarefaCompleta': tarefa.completa}">
            <div class="col-1">
                <span *ngIf="tarefa.order > tarefa.primeiroArray" style="cursor: pointer;" (click)="priorizarOrderTarefa(tarefa.order)"> ▲ </span>
                <span *ngIf="tarefa.order < tarefa.tamanhoArray" style="cursor: pointer;" (click)="postergarOrderTarefa(tarefa.order)"> ▼ </span> 
            </div>
            <div class="col-7 d-flex align-items-center" *ngIf="idTarefaEdicao != tarefa.idTarefa">
                <h3 class="m-0"> {{ tarefa.descricaoTarefa }} </h3>
            </div>
            <div class="col-7 d-flex align-items-center" *ngIf="idTarefaEdicao == tarefa.idTarefa">
                <input class="col-6 input-form form-control rounded-pill border-3" type="text" id="inputEdicaoTarefa" name="inputEdicaoTarefa" [(ngModel)]="descricaoTarefaEdicao" /> 
            </div>
            <div class="col-2"> 
                <input type="checkbox" [checked]="tarefa.completa" (change)="completarTarefa(tarefa.idTarefa, tarefa.completa)"> 
            </div>
            <div class="col-2"> 
                <button *ngIf="idTarefaEdicao != tarefa.idTarefa" class="btn" (click)="deletarTarefa(tarefa.idTarefa)"> <i class="fa fa-trash"> </i></button>
                <button class="btn" (click)="editarTarefaForm(tarefa.idTarefa)">
                    <i class="fas fa-{{ idTarefaEdicao == tarefa.idTarefa ? 'times' : 'edit' }}"></i>
                </button>
                <button *ngIf="idTarefaEdicao == tarefa.idTarefa" class="btn" (click)="editarTarefa(tarefa.idTarefa)"><i class="fa fa-edit"></i></button>
            </div>
        </div>
    </div>
</div>
