<div id="tarefas" class="container mx-auto text-center">
    <div class="row">
        <form #FormCriarTarefa="ngForm" (ngSubmit)="onSubmit()" class="col-12">
            <div class="form-group">
                <label for="txt_descricaoTarefaCriacao">Descrição da Tarefa:</label>
                <input type="text" id="txt_descricaoTarefaCriacao" name="txt_descricaoTarefaCriacao" [(ngModel)]="descricaoTarefaCriacao" class="form-control" required>
            </div>
            <input type="hidden" name="idUsuario" [value]="IDUSUARIO" required>
            <button type="submit" class="btn btn-primary">Cadastrar</button> 
        </form>
    </div>

    <div *ngIf="mensagensErro.length > 0" class="error-messages">
        <div *ngFor="let errorMessage of mensagensErro">{{ errorMessage }}</div>
      </div>

    <div class="row">
        <table class="table table-bordered col-8 mx-auto">
            <thead>
                <tr>
                    <th></th>
                    <th>Descrição</th>
                    <th>Completa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarefa of listaTarefasExibicao" [ngClass]="{'table-success': tarefa.completa}">
                    <td> 
                        <button *ngIf="tarefa.order > tarefa.primeiroArray" (click)="priorizarOrderTarefa(tarefa.order)"> ▲ </button>
                        <button *ngIf="tarefa.order < tarefa.tamanhoArray" (click)="postergarOrderTarefa(tarefa.order)"> ▼ </button>
                    </td>

                    <td *ngIf="idTarefaEdicao != tarefa.idTarefa"> 
                        {{ tarefa.descricaoTarefa }}
                    </td>
                    <td *ngIf="idTarefaEdicao == tarefa.idTarefa">  
                        <input type="text" id="inputEdicaoTarefa" name="inputEdicaoTarefa" [(ngModel)]="descricaoTarefaEdicao" class="form-control" /> 
                    </td>
                    <td> 
                        <input type="checkbox" [checked]="tarefa.completa" (change)="completarTarefa(tarefa.idTarefa, tarefa.completa)"> 
                    </td>
                    <td> 
                        <button class="btn btn-danger" (click)="deletarTarefa(tarefa.idTarefa)">Deletar</button>
                        <button class="btn btn-primary" (click)="editarTarefaForm(tarefa.idTarefa)">{{ idTarefaEdicao == tarefa.idTarefa ? "Cancelar" : "Editar" }}</button>
                        <button *ngIf="idTarefaEdicao == tarefa.idTarefa" class="btn btn-success" (click)="editarTarefa(tarefa.idTarefa)">Confirmar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
