/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';


body{
    background-color: #b5c89d;
}  

.titulo-form{
    font-family: ubuntu;
    font-weight: bold;
}

.input-form{
    font-family: ubuntu;
    background-color: #b5c89d;
    border-color: rgb(33, 37, 41);
}

.tarefaCompleta {
    background-color: red !important;
}

.form-link {
    font-family: ubuntu;
    color: #4a523d;
    background-color: rgb(153, 175, 128);
}

.form-link:hover{
    background-color: #8fa177;
    color: rgb(33, 37, 41);
    cursor: pointer; 
}

.botao_custom {
    color:rgb(174, 193, 153); 
    font-size: 1.8rem;
}

.borderTarefas {
    z-index: 1000;
    border: 3.75px solid rgb(33, 37, 41);
    border-radius: 4vh;
}