<app-login-form  (onSubmitLoginEvent)="onLogin($event)" *ngIf="componentToShow == 'login'"/>

<app-register-form (onSubmitRegisterEvent)="onRegister($event)" *ngIf="componentToShow == 'cadastro'"/>

<app-carregando *ngIf="componentToShow == 'carregando'" />

<app-email-confirmation *ngIf="componentToShow == 'email-confirmation'"/>

<app-auth-content *ngIf="componentToShow == 'home'"/>

<div *ngIf="mensagensErro.length > 0" class="error-messages">
    <div *ngFor="let errorMessage of mensagensErro">{{ errorMessage }}</div>
  </div>