<div *ngIf="componentToShow == 'login'">
    <app-login-form  (onSubmitLoginEvent)="onLogin($event)" />
</div>

<div *ngIf="componentToShow == 'cadastro'">
    <app-register-form (onSubmitRegisterEvent)="onRegister($event)" />
</div>


<div *ngIf="componentToShow == 'carregando'">
    <app-carregando></app-carregando>
</div>


<button *ngIf="componentToShow == 'home'" (click)="logout()"> Logout </button>
<app-auth-content *ngIf="componentToShow == 'home'"/>

<div *ngIf="mensagensErro.length > 0" class="error-messages">
    <div *ngFor="let errorMessage of mensagensErro">{{ errorMessage }}</div>
  </div>